bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.AdaptTrial/.idea/vcs.xml
.idea/.idea.AdaptTrial/.idea/misc.xml
.idea/.idea.AdaptTrial/.idea/indexLayout.xml
.idea/.idea.AdaptTrial/.idea/encodings.xml
.idea/.idea.AdaptTrial/.idea/workspace.xml
.idea/.idea.AdaptTrial/.idea/projectSettingsUpdater.xml
.idea/.idea.AdaptTrial/.idea/modules.xml
.idea/.idea.AdaptTrial/.idea/contentModel.xml
